{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:testing-library/react",
    "plugin:tailwindcss/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": [
    "react",
    "react-refresh",
    "@typescript-eslint",
    "import",
    "prettier",
    "testing-library",
    "tailwindcss",
    "css-import-order",
  ],
  "rules": {
    "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off",
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling", "index"]],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before",
          },
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
      },
    ],
    "css-import-order/css-import-order": "error",
    "tailwindcss/no-custom-classname": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": true,
      "node": true
    },
  },
  "overrides": [
    {
      "files": ["src/components/ui/**/*.tsx"],
      "rules": {
        "react-refresh/only-export-components": "off"
      },
    },
  ],
}
