@import 'tw-animate-css';
@import './externals/shadcn.ui.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-size: 15px;
    line-height: 1.55;
    font-family:
      'Inter',
      ui-sans-serif,
      system-ui,
      -apple-system,
      'Segoe UI',
      sans-serif;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* Hack: Use a massive inner shadow to cover the browser's background color */
    -webkit-box-shadow: 0 0 0px 1000px hsl(var(--background)) inset;

    /* Change the text color to match your theme */
    -webkit-text-fill-color: hsl(var(--foreground));
  }
}
