@import 'tw-animate-css';
@import './externals/shadcn.ui.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-size: 15px;
    line-height: 1.55;
    font-family:
      'Inter',
      ui-sans-serif,
      system-ui,
      -apple-system,
      'Segoe UI',
      sans-serif;
  }
}
